.resumePage {
  background-color: #d2ecf9;
  padding: 12em;
}

.resumePage h1,
h2 {
  text-align: center;
}

.resumeCard {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .resumePage {
    padding: 0.5em;
    font-size: 18px;
    padding-bottom: 2em !important;
  }
  .resumeBlock {
    font-size: 20px;
    -webkit-column-count: 1 !important;
    column-count: 1;
    padding: 1.5em !important;
  }
}

.resumeBlock {
  font-size: 20px;
  column-count: 2;
  padding: 2em;
}
