#root {
  background-color: white;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', serif;
  font-weight: bold;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Source Serif Pro', serif;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
}
p {
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
  line-height: 2rem;
  margin: 0;
}
