#root {
  background-color: white;
}

body {
  margin: 0;
}
nav {
  font-family: 'Noto Sans', sans-serif;
}
li {
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-family: 'Noto Sans', serif;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Playfair Display', serif;
}
h3 {
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
}
p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 2rem;
  margin: 0;
}
