.resumePage {
  min-height: 88vh;
  background-color: #e7128e;
  padding: 12em;
}

.resumePage h1,
h2 {
  text-align: center;
}

.resumeCard {
  background-color: white;
  min-height: 50vh;
}

@media only screen and (max-width: 768px) {
  .resumePage {
    padding: 2em;
    font-size: 18px;
  }
}
