.navItems li div {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navItems a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navItems div:hover {
  color: #c15c2e;
}

@media (min-width: 768px) {
  .navBar {
    background-color: white;
    position: fixed;
    z-index: 10;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8rem !important;
    width: 100%;
    top: 2rem;
    transition: top 0.5s;
  }
  .navBrand {
    text-align: center;
    font-size: 22px;
  }
  .navItems {
    display: flex;
    grid-column: 2;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .navBar {
    position: fixed;
    z-index: 1;
  }
  .navBrand {
    display: none;
  }
  .navItems {
    display: none;
  }
  .navItemsBurger {
    background-color: white;
    margin-top: 4rem;
  }
}

.bootstrapNav {
  background-color: white !important;
  max-height: 55px;
  border: none;
  z-index: 5;
}
.bootstrapNav button {
  border: none !important;
  background-color: white !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

.navbar-collapse,
.collapse,
.in {
  text-align: center;
  background-color: white !important;
}

.navbar-toggle .icon-bar {
  display: block !important;
  width: 34px !important;
  height: 3px !important;
  border-radius: 1px !important;
}
